/* Sweco Sans v.1.5.0 */

/* Sweco Sans Regular */
@font-face {
    font-family: 'SwecoSans-Regular';
    src: url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Regular.eot');
    src: url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Regular.woff2') format('woff2'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Regular.woff') format('woff'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Regular.ttf') format('truetype'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Regular.svg#SwecoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Sweco Sans Medium */
  @font-face {
    font-family: 'SwecoSans-Medium';
    src: url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Medium.eot');
    src: url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Medium.woff2') format('woff2'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Medium.woff') format('woff'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Medium.ttf') format('truetype'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Medium.svg#SwecoSans-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Sweco Sans Bold */
  @font-face {
    font-family: 'SwecoSans-Bold';
    src: url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Bold.eot');
    src: url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Bold.woff2') format('woff2'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Bold.woff') format('woff'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Bold.ttf') format('truetype'),
         url('https://cdn.swecogroup.com/sweco-digital-platforms/fonts/SwecoSans-Bold.svg#SwecoSans-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
  }